{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-lg border-0">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">
        {% if mode == "edit" %}
          Editar Dispositivo
        {% else %}
          Nuevo Dispositivo
        {% endif %}
      </h4>
    </div>

    <div class="card-body">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
          {{ form.name.label_tag }}
          {{ form.name }}
          {{ form.name.errors }}
        </div>

        <div class="mb-3">
          {{ form.category.label_tag }}
          {{ form.category }}
          {{ form.category.errors }}
        </div>

        <div class="mb-3">
          {{ form.zone.label_tag }}
          {{ form.zone }}
          {{ form.zone.errors }}
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'device_list' %}" class="btn btn-secondary">Cancelar</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
