{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="mb-4 text-center">Iniciar Sesión</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary w-100" type="submit">Entrar</button>
          </form>
          <p class="mt-3 text-center">
            ¿No tienes cuenta? <a href="{% url 'register' %}">Registrarse</a>
          </p>
          <p class="text-center">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
